<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" >
        <label>Product ID</label>
        <input  name="productId" required>
        <label>Product Name</label>
        <input  name="productName" required>
        <label>Product price</label>
        <input  name="price" required>
        <label>rating</label>
        <input  name="rating" required>
        <input type="submit" value="Submit">
    </form>
</body>
</html>